.main {
    display: flex;
    gap: 1rem;
    flex-grow: 1;

    .left {
        flex: 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #272727;
        border-radius: 0.7rem;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            overflow-y: scroll;
            scroll-behavior: smooth;
            gap: 1rem;
            padding-right: 1rem;

            .item {
                display: flex;
                align-items: center;
                gap: 2rem;
                padding: 1rem 1.5rem;
                border-radius: 1rem;
                padding-right: 4rem;

                h1 {
                    font-weight: bold;
                    font-size: 1.2rem;
                }

                h2 {

                    font-weight: lighter;
                    font-size: 1.2rem;
                }

            }
        }
    
    }

    .right {
        flex: 1;
        background-color: #272727;
        padding: 1rem;
        border-radius: 0.7rem;
        display: flex;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex: 1;
        }

        .default_item {
            display: flex;
            flex-direction: column;

            span {
                color: #4555E7;
                font-weight: bold;
            }

            input {
                all: unset
            }

            padding: 1rem 2rem;
            background-color: #2F2F2F;
            border-radius: 0.7rem;
        }
    }
}

.unselected {
    background-color: #D9D9D9;
    h1 {
        color: black;
    }
    h2 {
        color: #6D6D6D;
    }
}

.selected {
    background-color: #313EB2;
    h1 {
        color: white;
    }
    h2 {
        color: #cbcbcb;
    }
}

.removeButton {

    margin-top: auto;

    cursor: pointer;
    span {
        color: #FF3A3A !important;
    }
}

.saveButton {
    cursor: pointer;
    span {
        color: white !important;
    }
}